body {
    background-color: #fff7b8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    width: 30rem;
    height: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    @media screen and (max-width: 375px){
        flex-direction: column;
        height: 40rem;
    }
}
.product-image {
    width: 50%;
    height: auto;
    border-radius: 12px 0 0 12px;
    @media screen and (max-width: 375px){
        width: 100%;
        height: 50%;
        border-radius: 12px 12px 0 0;
    }
}
.product-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.card-call-to-action{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 50%;
    @media screen and (max-width: 375px){
        margin: 10px 0 0 10px;
        height: 50%;
        width: 100%;
        border-radius: 0px 0px 12px 12px;
    }
}
.product-title {
    font-family: 'Montserrat', sans-serif ;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: .6rem;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    padding-bottom: 15px;
}

.card-title {
    padding-left: 5px;
    font-family: 'Fraunces', sans-serif ;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: 25px;
    color: hsl(212, 21%, 14%);
    width: 70%;
}
.card-description {
    width: 95%;
    padding-left: 5px;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 10px;
}
.card-pricing {
    display: flex;
    padding-left: 5px;
    gap: 5%;
}
.card-discount-price {
    font-size: 1.8rem;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;

}
.card-current-price {
    text-decoration: line-through;
    color:  hsl(228, 12%, 48%);
    opacity: 70%;
    font-family: 'Fraunces', sans-serif;
    font-size: .8rem;
    padding-top: 8px;
    @media screen and (max-width: 375px){
        font-size: .9rem;
    }
}
.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    @media screen and (max-width: 375px){
        width: 90%;
        margin:0;
        padding: 0;

    }
}
.button {
    width: 90%;
    height: 70%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color:  hsl(158, 36%, 37%);
    @media screen and (max-width: 375px){
        width: 90%;
        margin:0;
        padding: 0;

    }
}
.card-button > p{
    font-family: 'Montserrat', sans-serif ;
}

.button:hover {
    background-color:  hsl(158, 42%, 18%);
}


